[mysqld]
server_id		    = 2
report_host		    = db2.local

skip-name-resolve           = ON

log-bin                     = db2_binlog
log-bin-index               = db2_binlog.index
binlog-checksum             = NONE
binlog-row-image            = FULL
log_replica_updates         = 1

enforce-gtid-consistency    = TRUE
gtid-mode                   = ON
relay-log                   = db2_relaylog
plugin-load-add		    = mysql_clone.so

innodb_dedicated_server	    = ON
innodb_numa_interleave      = OFF

plugin_load_add = clone     = mysql_clone.so
#clone_valid_donor_list	    = db1:3306,db2:3306
